button[title="Go to homepage"] svg path{
    d: path("m 12.999933,4.5306652 c -0.344024,0 -0.687939,0.1306811 -0.95155,0.394291 L 4.4360391,12.5373 c -0.5272195,0.527219 -0.5272195,1.375853 0,1.903153 0.3185471,0.318547 0.7503331,0.421249 1.1618374,0.354859 v 6.674023 H 8.2895578 V 12.49002 L 13,7.7795784 17.710442,12.49002 v 8.979315 h 2.691681 v -6.674023 c 0.411504,0.06639 0.843291,-0.03631 1.161838,-0.354859 0.52722,-0.527219 0.52722,-1.375852 0,-1.903153 L 13.951617,4.9249562 c -0.263611,-0.2636099 -0.607526,-0.394291 -0.95155,-0.394291 z m 0,10.2094128 c -1.118393,0 -2.018761,0.900367 -2.018761,2.01876 v 4.710443 h 4.037521 v -4.710443 c 0,-1.118393 -0.900367,-2.01876 -2.01876,-2.01876 z");
}
/*title="Reload current page"
.toggle-trash button svg path
.synced-tabs-button button svg path
*/

.button-toolbar[title~="next"]  svg path{
    d: path("m4 12h12l-5.25-5.25 2.25-2.25 9 9-9 9-2.25-2.25 5.25-5.25h-12v-3z");
}
.button-toolbar button[title~="next"]  svg path{
    d: path("m4 12h12l-5.25-5.25 2.25-2.25 9 9-9 9-2.25-2.25 5.25-5.25h-12v-3z");
}

.button-toolbar[title~="previous"]  svg path{
    d: path("m22 12h-12l5.25-5.25-2.25-2.25-9 9 9 9 2.25-2.25-5.25-5.25h12z");
}
.button-toolbar button[title~="previous"]  svg path{
    d: path("m22 12h-12l5.25-5.25-2.25-2.25-9 9 9 9 2.25-2.25-5.25-5.25h12z");
}

.button-toolbar[title~="reload"]  svg path{
    d: path("m12.996 4c-4.9706 0-9 4.0294-9 9 0 4.9706 4.0294 9 9 9 4.0819 0 7.5361-2.7041 8.6384-6.4286h-2.7723c-0.99549 2.2622-3.2359 3.8571-5.8661 3.8571-3.5504 0-6.4286-2.8782-6.4286-6.4286 0-3.5504 2.8782-6.4286 6.4286-6.4286 1.7763 0 3.3628 0.73932 4.5201 1.9085l-3.2268 3.2344h7.7143v-7.7143l-2.6392 2.6392c-1.6329-1.6264-3.8819-2.6392-6.3633-2.6392z");
}

/*<svg viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
<path class="trashicon-lid" d="M15.5 7c-.276 0-.5-.224-.5-.5l-.001-1.03c-.016-.262-.233-.47-.499-.47h-4c-.267 0-.485.209-.499.473l-.001 1.027c0 .276-.224.5-.5.5h-2.5c-.552 0-1 .448-1 1s.448 1 1 1h11c.552 0 1-.448 1-1s-.448-1-1-1h-2.5z"></path>
<path class="trashicon-bin" d="M17 10c.552 0 1 .448 1 1v8c0 1.105-.895 2-2 2h-7c-1.105 0-2-.895-2-2v-8l.007-.117c.058-.497.48-.883.993-.883s.936.386.993.883l.007.117v7c0 .552.448 1 1 1h5c.552 0 1-.448 1-1v-7l.007-.117c.058-.497.481-.883.993-.883z"></path>
<path class="trashicon-content" opacity=".3" d="M10 10v8h1v-8h-1zM12 10v8h1v-8h-1zM14 18v-8h1v8h-1z"></path>
</svg>*/

.button-toolbar.toggle-trash button svg path[class="trashicon-bin"]{
   d: path("m11.042 6.1185c-1 0-1 1-1 1h-3s-1 0.0015-1 1.002v1.0039l13-0.00391v-1c0-1-1-1.002-1-1.002h-3s0-1-1-1zm-4 4.0059v9c5e-5 0.52358 0.47642 0.99995 1 1h9c0.52358-5e-5 0.99995-0.47642 1-1v-9h-2v8h-7v-8zm8 1-5 1v5h5z");
}
.button-toolbar.toggle-trash button svg path[class="trashicon-lid"]{
    d: path("");
 }
 .button-toolbar.toggle-trash button svg path[class="trashicon-content"]{
    d: path("");
 }
 
.button-toolbar.synced-tabs-button button svg path{
    d: path("m10.467 7c-2.2855 0.00192-4.3158 1.493-5.0479 3.7073-1.4772 0.7259-2.4173 2.2529-2.4188 3.929 0 2.41 1.9103 4.3636 4.2667 4.3636 1.0463-0.0021 2.0554-0.3973 2.8354-1.1105 0.12128 0.0108 0.24288 0.01735 0.36459 0.01964 0.77929-0.0022 1.5486-0.17912 2.2539-0.51818 0.619 0.33954 1.3104 0.51753 2.0128 0.51818 2.3567-3.95e-4 4.2668-1.9548 4.266-4.365-2.16e-4 -2.4099-1.9106-4.3634-4.267-4.3632h-0.0085c-1.0054-1.371-2.5824-2.1781-4.2581-2.1808z");
}
