.tabs-top .tab-position .tab{
  /*border: 1px solid #f4f4f4 !important;*/
  /*background-color: #f6f6f6;*/
  /*background-color: #e7e7e7;*/
  background-color: #cdcfd0;
  /*border-radius: 0px;*/
  margin: 0 0 0 -1px;
  border-top: 1px solid #b2b5b5;
  border-left: 1px solid #b2b5b5;
  border-right: 1px solid #b2b5b5;
  border-bottom: 1px solid #cdcfd0;
  /*border-bottom: 1px solid var(--colorAccentBg);*/
  /* border: 1px;
  border-style: solid; */
}

.tabs-top .tab-position .active{
  /*border: 1px solid #f4f4f4 !important;*/
  /*background-color: #f6f6f6;*/
  /*background-color: #e7e7e7;*/
  background-color: #cdcfd0;
  /*border-radius: 0px;*/
  margin: 0 0 0 -1px;
  border-top: 1px solid var(--colorAccentBgDark);
  border-left: 1px solid var(--colorAccentBgDark);
  border-right: 1px solid var(--colorAccentBgDark);
  border-bottom: 1px solid var(--colorAccentBg);
  /* border: 1px;
  border-style: solid; */
}
/*UrlBar toolbar toolbar-mainbar toolbar-large*/
.toolbar-mainbar{
  border-top: 1px solid var(--colorAccentBg);
  border-bottom: 1px solid var(--colorAccentBgDark);
}

.button-badge{
    border-radius: 10px;
}

.close{
  border-radius: 10px;
  background-color: #898b8c;
  fill: #fff !important;
}
.close:hover{
  border-radius: 10px;
  background-color: #da4453;
  fill: #fff !important;
}

.close svg path {
    d: path("M 5.6253,13.21839 9,9.84369 l 3.3747,3.3747 h 0.84369 V 12.3747 L 9.84369,9 13.21839,5.6253 V 4.78161 H 12.3747 L 9,8.15631 5.6253,4.78161 H 4.78161 V 5.6253 L 8.15631,9 4.78161,12.3747 v 0.84369 z");
    }